<?xml version="1.0"?>
<robot name="plato_manipulator" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Set World Frame -->
    <link name="world"/>

    <!-- Include Xacro -->
    <xacro:include filename="$(find optiman_description)/urdf/optimo_xacro/pedestal.xacro" />
    <xacro:include filename="$(find optiman_description)/urdf/optimo_xacro/optimo_description.xacro"/>
    <xacro:include filename="$(find plato_description)/urdf/plato_xacro/plato_hand_description.xacro"/>
    <xacro:include filename="$(find plato_description)/urdf/plato_xacro/plato.transmission.xacro"/>
    <xacro:include filename="$(find plato_description)/urdf/plato_xacro/plato.ros2_control.xacro"/>

    <!-- Pedestal -->
    <xacro:pedestal_description connector_link="world" />
    <!-- Optimo Arm -->
    <xacro:optimo_description connector_link="stand_link"/>
    <!-- Plato Hand -->
    <xacro:plato_description connector_link="optimo_ee_link"/>

    <xacro:plato_ros2_control name="plato_hand_controller" />






</robot>