<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="optimo">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import optimo urdf file -->
    <xacro:include filename="$(find optimo_description)/urdf/optimo.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="optimo.ros2_control.xacro" />


    <xacro:optimo_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
