
<launch>
  
  <arg name = "gui" default = "false" />

  <param name="robot_description" command="$(find xacro)/xacro '$(find optimo_description)/urdf/optimo.urdf.xacro'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_piblisher_gui" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find optimo_description)/rviz/optimo.rviz"/>

  <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->


  
</launch>