<?xml version="1.0"?>
<robot name="optimo" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include the URDF of the robot arm -->
    <xacro:include filename="optimo_xacro/optimo_arm.xacro" />

    <!-- Include gz configuration -->
    <!-- <xacro:include filename="optimo_xacro/optimo.gz.xacro" /> -->


</robot>