<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="plato_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>
        
      <gazebo>
          <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
              <parameters>$(find plato_moveit_config)/config/ros2_controllers.yaml</parameters>
          </plugin>
      </gazebo>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <!-- <plugin>mock_components/GenericSystem</plugin> -->
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="optimo_joint1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="optimo_joint2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="optimo_joint3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="optimo_joint4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="optimo_joint5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="optimo_joint6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="optimo_joint7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['optimo_joint7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f1_mcp_roll">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f1_mcp_roll']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f1_mcp_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f1_mcp_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f1_pip_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f1_pip_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f2_mcp_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f2_mcp_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f2_mcp_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f2_mcp_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f2_pip_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f2_pip_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f3_mcp_yaw">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f3_mcp_yaw']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f3_mcp_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f3_mcp_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="plato_f3_pip_pitch">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['plato_f3_pip_pitch']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
