<?xml version="0.06.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">   


    <xacro:macro name="plato_gazebo" params="
                                            name
                                            gazebo_classic:=^|false"
                                            >
        <xacro:if value="${gazebo_classic}">

        

            <!-- Joint Dynamics -->

            <!-- <joint name="plato_joint0">
                <dynamics>
                    <damping>0.0</damping>
                    <friction>0.0</friction>
                    <spring_reference>0.0</spring_reference>
                    <spring_stiffness>0.0</spring_stiffness>
                </dynamics>
            </joint>     -->







        </xacro:if>


    </xacro:macro>



</robot>