<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Macro for Transmission -->
    <xacro:macro name="plato_transmission" params="joint_name">

        <transmission name="${joint_name}_transmission">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${joint_name}">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${joint_name}_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1.0</mechanicalReduction>
            </actuator>
        </transmission>

    </xacro:macro>

    <!-- Define Transmissions for Each Joint -->
    <xacro:plato_transmission joint_name="plato_joint0"/>
    <xacro:plato_transmission joint_name="plato_joint1"/>
    <xacro:plato_transmission joint_name="plato_joint2"/>
    <xacro:plato_transmission joint_name="plato_joint3"/>
    <xacro:plato_transmission joint_name="plato_joint4"/>
    <xacro:plato_transmission joint_name="plato_joint5"/>
    <xacro:plato_transmission joint_name="plato_joint6"/>
    <xacro:plato_transmission joint_name="plato_joint7"/>
    <xacro:plato_transmission joint_name="plato_joint8"/>

    







  

</robot>