<?xml version="1.0.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="plato_ros2_control" params="
                                                name
                                                use_mock_hardware:=^|false
                                                gazebo_classic:=^|false
                                                gazebo:=^|false
                                                plato_hardware:=^|true"
                                                >
                                                
  

    <ros2_control name="${name}" type="system">
        <hardware>

            <xacro:if value="${use_mock_hardware}">
                <plugin>mock_componets/GenericSystem</plugin>
            </xacro:if>

            <xacro:if value="${gazebo_classic}">
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </xacro:if>

            <xacro:if value="${gazebo}">
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </xacro:if>

            <xacro:if value="${plato_hardware}">
                <plugin>plato_hardware_interface/PLATOHardware</plugin>
            </xacro:if>

        </hardware>

        <joint name="plato_joint0">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint1">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint2">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position">
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint3">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint4">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint5">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint6">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint7">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
        <joint name="plato_joint8">
            <command_interface name="effort">
                <param name="min">-1.0</param>
                <param name="max">1.0</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </ros2_control>

  </xacro:macro>

</robot>
