<?xml version="0.06.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">   


    <xacro:macro name="plato_gazebo" params="
                                            name
                                            gazebo_classic:=^|false"
                                            >
        <xacro:if value="${gazebo_classic}">

            <xacro:property name="damping" value="0.5"/>
            <xacro:property name="friction" value="10.0"/>
            <xacro:property name="spring_reference" value="0.0"/>
            <xacro:property name="spring_stiffness" value="0.5"/>

            <!-- Joint Dynamics -->
            <gazebo reference="plato_joint0">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint1">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint2">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint3">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint4">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint5">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint6">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint7">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            <gazebo reference="plato_joint8">
                <dynamics damping="${damping}" friction="${friction}" spring_reference="${spring_reference}" spring_stiffness="${spring_stiffness}"/>
            </gazebo>
            






       


        </xacro:if>


    </xacro:macro>



</robot>