<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Optimo ROS 2 Controller -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find plato_bringup)/config/plato_controllers.yaml</parameters>
        </plugin>
    </gazebo>


    <xacro:macro name="plato_ros2_control" params="ns">
        <ros2_control name="PlatoGazebo" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>


            <xacro:macro name="configure_joint" params="joint_name initial_position">
                <joint name="${joint_name}">
                    

                    <command_interface name="position"/>

                    <state_interface name="position">
                        <param name="initial_value">${initial_position}</param>
                    </state_interface>
                    
                    <state_interface name="velocity"/>
           
                </joint>
            </xacro:macro>

            <xacro:configure_joint joint_name="${ns}_f1_mcp_roll"   initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f1_mcp_pitch"  initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f1_pip_pitch"  initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f2_mcp_yaw"    initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f2_mcp_pitch"  initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f2_pip_pitch"  initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f3_mcp_yaw"    initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f3_mcp_pitch"  initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_f3_pip_pitch"  initial_position="0.0"/>

        </ros2_control>
  </xacro:macro>

  


        


</robot>