<?xml version="0.06.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="plato_ros2_control" params="name">
                                                
        <ros2_control name="${name}" type="system">
            
            <!-- Hardware -->
            <hardware> 
                <plugin>plato2_hardware_interface/PLATO2Hardware</plugin>
            </hardware>

            <joint name="mcp_joint">
                <command_interface name="position"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="pip_joint">
                <command_interface name="position"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        </ros2_control>

  </xacro:macro>

</robot>
