<?xml version="0.06.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="plato_ros2_control" params="name">
                                                
        <ros2_control name="${name}" type="system">
            
            <!-- Hardware -->
            <hardware> 
                <plugin>plato2_hardware_interface/PLATO2Hardware</plugin>
            </hardware>

            <joint name="joint1">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="joint2">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="joint3">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="joint4">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>


            <joint name="joint5">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="joint6">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="joint7">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

            <joint name="joint8">
                <command_interface name="effort"/>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>

        <sensor name="ft_sensor">
            <state_interface name="force.x"/>
            <state_interface name="force.y"/>
            <state_interface name="force.z"/>
            <state_interface name="torque.x"/>
            <state_interface name="torque.y"/>
            <state_interface name="torque.z"/>
        </sensor>




        </ros2_control>

  </xacro:macro>

</robot>
