<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Optimo ROS 2 Controller -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find plato_bringup)/config/optimo_controllers.yaml</parameters>
        </plugin>
    </gazebo>


    <xacro:macro name="optimo_ros2_control" params="ns">
        <ros2_control name="OptimoGazebo" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>


            <xacro:macro name="configure_joint" params="joint_name initial_position">
                <joint name="${joint_name}">
                    

                    <command_interface name="position"/>

                    <state_interface name="position">
                        <param name="initial_value">${initial_position}</param>
                    </state_interface>
                    
                    <state_interface name="velocity"/>
           
                </joint>
            </xacro:macro>

            <xacro:configure_joint joint_name="${ns}_joint1" initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_joint2" initial_position="${160*DtR}"/>
            <xacro:configure_joint joint_name="${ns}_joint3" initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_joint4" initial_position="${-60*DtR}"/>
            <xacro:configure_joint joint_name="${ns}_joint5" initial_position="0.0"/>
            <xacro:configure_joint joint_name="${ns}_joint6" initial_position="${-30*DtR}"/>
            <xacro:configure_joint joint_name="${ns}_joint7" initial_position="0.0"/>
        </ros2_control>
        
  </xacro:macro>


        


</robot>