<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">




        <!-- Optimo ROS 2 Controller -->
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(find plato_moveit)/config/optimo_controller.yaml</parameters>
            </plugin>
        </gazebo>


        <!--  ROS 2 Controller for Gazebo -->
        <ros2_control name="GazeboSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>

            <joint name="optimo_joint1">
                <command_interface name="effort">
                </command_interface>

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="velocity" />
    
            </joint>

            <joint name="optimo_joint2">
                <command_interface name="effort">
                </command_interface>

                <state_interface name="position">
                    <param name="initial_value">2.768</param>
                </state_interface>

                <state_interface name="velocity" />

            </joint>

            <joint name="optimo_joint3">
                <command_interface name="effort">
                </command_interface>

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="velocity" />
            </joint>

            <joint name="optimo_joint4">
                <command_interface name="effort">
                </command_interface>

                <state_interface name="position">
                    <param name="initial_value">-1.847</param>
                </state_interface>

                <state_interface name="velocity" />
            </joint>

            <joint name="optimo_joint5">
                <command_interface name="effort">
                </command_interface>
                

                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="velocity" />
            </joint>

            <joint name="optimo_joint6">
                <command_interface name="effort">
                </command_interface>


                <state_interface name="position">
                    <param name="initial_value">0.713</param>
                </state_interface>

                <state_interface name="velocity" />
            </joint>

            <joint name="optimo_joint7">
                <command_interface name="effort">
                </command_interface>


                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>

                <state_interface name="velocity" />
            </joint>

        </ros2_control>


</robot>