<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- <material name="Grey">
        <color rgba="0.8 0.8 0.8 1"/>
    </material> -->

    <gazebo reference="optimo_base_link">
        <material>Gazebo/Grey</material>
    </gazebo>
    <gazebo reference="optimo_link1"/>
    <gazebo reference="optimo_link2"/>
    <gazebo reference="optimo_link3"/>
    <gazebo reference="optimo_link4"/>
    <gazebo reference="optimo_link5"/>
    <gazebo reference="optimo_link6"/>
    <gazebo reference="optimo_link7"/>



    <!-- Joint State Publisher -->
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>1000</update_rate>
            <joint_name>optimo_joint1</joint_name>
            <joint_name>optimo_joint2</joint_name>
            <joint_name>optimo_joint3</joint_name>
            <joint_name>optimo_joint4</joint_name>
            <joint_name>optimo_joint5</joint_name>
            <joint_name>optimo_joint6</joint_name>
            <joint_name>optimo_joint7</joint_name>
        </plugin>
    </gazebo>

    <!-- SEA Spring-Damper -->
    <!-- <gazebo -->


    

 




</robot>