<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="DtR" value=".01745329251"/>

    <gazebo reference="base_link"/>
    <gazebo reference="optimo_link0"/>
    <gazebo reference="optimo_link1"/>
    <gazebo reference="optimo_link1_passive"/>
    <gazebo reference="optimo_link2"/>
    <gazebo reference="optimo_link2_passive"/>
    <gazebo reference="optimo_link3"/>
    <gazebo reference="optimo_link3_passive"/>
    <gazebo reference="optimo_link4"/>
    <gazebo reference="optimo_link4_passive"/>
    <gazebo reference="optimo_link5"/>
    <gazebo reference="optimo_link5_passive"/>
    <gazebo reference="optimo_link6"/>
    <gazebo reference="optimo_link6_passive"/>
    <gazebo reference="optimo_link7"/>
    <gazebo reference="optimo_link7_passive"/>


    <!-- Joint State Publisher -->
    <gazebo>
        <plugin name="gazebo_ros_joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
            <update_rate>1000</update_rate>
            <joint_name>optimo_joint1</joint_name>
            <joint_name>optimo_joint2</joint_name>
            <joint_name>optimo_joint3</joint_name>
            <joint_name>optimo_joint4</joint_name>
            <joint_name>optimo_joint5</joint_name>
            <joint_name>optimo_joint6</joint_name>
            <joint_name>optimo_joint7</joint_name>
        </plugin>
    </gazebo>

    <!-- SEA Spring-Damper -->
    <!-- <gazebo -->


    

 




</robot>